@use "../common/variables" as *;

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  color: $color-default-white;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  &__container {
    padding: 20px;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }

  &__navigation {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__navigation-button {
    display: none;
  }

  @media (max-width: 1024px) {
    &__container {
      padding: 10px 20px;
    }

    &__wrapper {
      gap: 15px;
    }

    &__social {
      display: none;
    }
  }

  @media (max-width: 767px) {
    &__container {
      padding: 20px;
    }

    &__wrapper {
      align-items: flex-start;
    }

    &__navigation {
      flex-direction: column;
      align-items: flex-end;
    }

    &__navigation-button {
      position: relative;
      display: block;
      width: 30px;
      height: 21px;
      color: $color-default-white;
      background-color: transparent;
      padding: 0;
      border: none;
      cursor: pointer;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.7;
      }
    }

    &__navigation-button-item {
      width: 100%;
      height: 1px;
      background-color: currentColor;
      transition: width 0.1s 0.2s;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        height: 1px;
        background-color: currentColor;
        transition: transform 0.3s, top 0.3s 0.3s;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 1px;
        background-color: currentColor;
        transition: transform 0.3s, bottom 0.3s 0.3s;
      }
    }
  }
}

.header.is-blured {
  backdrop-filter: blur(4px);
}

.header.is-menu-opened {
  backdrop-filter: blur(4px);
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );

  .header__navigation-button-item {
    width: 0;

    &::before {
      top: 10px;
      transform: rotate(45deg);
      transition: top 0.3s, transform 0.3s 0.3s;
    }

    &::after {
      bottom: 10px;
      transform: rotate(-45deg);
      transition: bottom 0.3s, transform 0.3s 0.3s;
    }
  }
}
