$color-default-black: #000000;
$color-default-white: #ffffff;

$color-primary-darker: #464d43;
$color-primary-dark: #576250;
$color-primary-medium: #90998b;
$color-primary-light: #b8c1b2;

$color-primary-transparent: rgba(184, 193, 178, 0.3);
